<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
            {% twitter {{ site.twitter }} maxwidth=216 limit=5 %}
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {% include mailchimp.html %}
      </div>
    </div>

  </div>

</footer>
