.header-col-1 {
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width:         calc(15% - (#{$spacing-unit} / 2));
  display: inline-block;
}
.header-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
  display: inline-block;
}
.header-col-3 {
  width: -webkit-calc(65% - (#{$spacing-unit} / 2));
  width:         calc(65% - (#{$spacing-unit} / 2));
  display: inline-block;
}
.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(65% - (#{$spacing-unit} / 2));
  width:         calc(65% - (#{$spacing-unit} / 2));
}
.main_logo {
  margin: auto;
  display: block;
  height: 3.4rem;
}

.site-title {
  font-size: 1.4em;
  line-height: 1.3em;
  &:hover {
    color: $grey-color-mid;
    border-bottom: none;
    text-decoration: none;
  }
}
