.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(65% - (#{$spacing-unit} / 2));
  width:         calc(65% - (#{$spacing-unit} / 2));
}
.main_logo {
  height: 30px;
  width: 30px;
}
