---
layout: default
---

<div class="home">
  <div class="wrapper-col-1">
    <h1 class="page-heading">Posts</h1>

    {{ content }}

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>


    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    <p class="site-description">{{ site.description | escape }}</p>

  </div>

  <div class="wrapper-col-2">

    {% if site.twitter_username %}
      <a class="twitter-timeline" data-height="500" href="https://twitter.com/drupaldiversity">Tweets by drupaldiversity</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endif %}
  </div>

</div>
