---
layout: default
---

<div class="home">
  <div class="wrapper-col-1">
    <h1 class="page-heading">Posts</h1>

    {{ content }}

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>


    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  </div>

  <div class="wrapper-col-2">
    <p>{{ site.description | escape }}</p>

    {% if site.twitter_username %}
    {% twitter https://twitter.com/drupaldiversity maxwidth=325 height=400 limit=2 hide_media=true %}
    {% endif %}
  </div>

</div>
